.container {
    display: flex;
    flex-direction: column;
    padding: 42px 96px 48px 96px;
    text-align: right;
    color: white;
    height: 100%;
}

.fontColorBlack {
    color: black;
}

.header {
    text-align: right;
    padding-bottom: 9px;
}

.arrow {
    margin-bottom: 9px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.subtitle {
    padding: 18px 0;
}

.body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.imageContainer {
    text-align: center;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.image {
    width: 100%;
}

.link:hover {
    color: white;
    font-weight: bold;
}

@media only screen and (max-width: 668px) {
    .container {
        height: 100%;
        padding: 50px 28px;
        font-size: 16px;
    }

    .body {
        flex-direction: column;
    }

    .header {
        width: 90%;
    }

    .link {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }
}
