.container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 42px 96px 48px 96px;
    text-align: left;
    color: white;
}

.fontColorBlack {
    color: black;
}

.header {
    text-align: right;
    padding-bottom: 9px;
}

.title {
    font-family: 'Kosugi', sans-serif;
    font-size: 26px;
    font-weight: bold;
}

.backButton {
    transform: rotate(180deg);
    margin-bottom: 9px;
    display: flex;
}

.subtitle {
    font-size: 22px;
    padding: 18px 0;
}

.body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.imageContainer {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

.image {
    width: 100%;
}

.infoContainer {
    flex-direction: column;
}

.insights {
    height: 50%;
    padding: 18px 0;
}

.status {
    padding-top: 18px;
    font-style: italic;
}

.bold {
    font-weight: bold;
    margin-right: 5px;
}

@media only screen and (max-width: 668px) {
    .container {
        padding: 50px 28px;
        font-size: 16px;
    }

    .body {
        flex-direction: column;
    }

    .infoContainer {
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        align-content: flex-start;
    }

    .insights {
        height: auto;
        padding: 12px 0 0;
    }
}
