.yellow {
    background: var(--zaira-yellow);
}

.green {
    background: var(--zaira-green);
}

.blue {
    background: var(--zaira-blue);
}

.red {
    background: var(--zaira-red);
}

.black {
    background: black;
}
