.container {
    display: flex;
    flex-direction: column;
    padding: 42px 96px 78px 96px;
    text-align: left;
    color: white;
}

.fontColorBlack {
    color: black;
}

.header {
    padding-bottom: 9px;
}

.title {
    font-size: 20px;
}

.subtitle {
    padding: 18px 0;
}

.body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.imageContainer {
    width: 66.66%;
    overflow: hidden;
}

.infoContainer {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.insights {
    height: 50%;
    padding: 18px;
}

.bold {
    font-weight: bold;
    margin-right: 5px;
}

.yellow {
    background: var(--zaira-yellow);
}

.green {
    background: var(--zaira-green);
}

.blue {
    background: var(--zaira-blue);
}

.red {
    background: var(--zaira-red);
}

.black {
    background: black;
}
