.container {
    grid-column: 2;
    grid-row: 2;
    width: auto;
    height: 750px;
    background: white;
    padding: 27px 36px;
    overflow: scroll;
    text-align: left;
}

.header {
    font-size: 20px;
    font-weight: bold;
}

.section {
    padding: 36px 0;
    border-bottom: solid 1px black;
    width: 406px;
}

.section:last-child {
    border-bottom: none;
}

.link {
    color: black;
}

.image {
    padding-top: 27px;
}

@media only screen and (max-width: 668px) {
    .container {
        grid-column: 1 / span 2;
        grid-row: 3;
        overflow: auto;
    }
}
